In [1]:
print("traininng the model")

traininng the model

In [2]:
#importing libraries 

import pandas as pd 
import numpy as np 
import tensorflow as tf
from  tensorflow.keras.models import load_model
import pickle 
from sklearn.preprocessing import OneHotEncoder

In [4]:
#load the model 
model = load_model('model.h5')
with open('gender_lable_encoder.pkl','rb') as file:
    lable_encoder_gender = pickle.load(file)

with open('OneHotEncoder_geaography.pkl','rb') as file:
    geo_encoder = pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler_encoder = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [5]:
input_data = {
    
    
    
    'CreditScore': 619,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 42,
    'Tenure': 3,
    'Balance': 70000,
    'NumOfProducts': 1,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 101348.88,
    
}

In [6]:
geo_encoded = geo_encoder.transform([[input_data['Geography']]])
geo_encoded_array = geo_encoded.toarray()
geo_encoded_df = pd.DataFrame(geo_encoded_array, columns=geo_encoder.get_feature_names_out(['Geography']))

c:\Users\SRI UDDESH\Downloads\ANN\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [7]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [8]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Male,42,3,70000,1,1,1,101348.88

In [9]:
input_df['Gender'] = lable_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,1,42,3,70000,1,1,1,101348.88

In [11]:
input_df = pd.concat([input_df.drop("Geography", axis=1), geo_encoded_df], axis=1)

In [12]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,1,42,3,70000,1,1,1,101348.88,1.0,0.0,0.0

In [19]:
input_scaled = scaler_encoder.transform(input_df)
input_scaled

array([[-0.33880827,  0.91324755,  0.29493847, -0.69539349, -0.09770129,
        -0.91668767,  0.64920267,  0.97481699,  0.01595384,  1.00150113,
        -0.57946723, -0.57638802]])

In [20]:
predict_model = model.predict(input_scaled)
predict_model

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 387ms/step

array([[0.14469543]], dtype=float32)

In [22]:
prediction_prob = predict_model[0][0]

prediction_prob

np.float32(0.14469543)

In [23]:
if prediction_prob > 0.5:
    print("the customer is likey to stop usoing the account")
elif prediction_prob<0.5:
    print("the customer will be in the game ")

the customer will be in the game

the scaled data only uised for the predition and scaling the data mailny uses the pred dfined steps like ->> vectorize